.message-contact-header-wrapper {
  margin: 20px;
  line-height: 50px;
  height: 50px;
  border-radius: 4px;
  padding-left: 20px;
  background-color: var(--white);
  -webkit-box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  box-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.05);
}
