.tabs-wrapper {
  display: flex;
  flex-direction: column;
}

.tabs-navigation {
  padding: 0;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tabs-active-content {
  height: 100%;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
