.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: var(--sidebar-size) auto;
  grid-template-areas: 
  "sidebar content"
  "sidebar content"
  "sidebar content"
  "sidebar content"
}

.content-wrapper {
  grid-area: content;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 6fr 2fr;
  grid-template-areas: 
  "lists chat-box user-details"
}



.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

